BasedOnStyle: LLVM
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Linux
ColumnLimit: 79
ContinuationIndentWidth: 8
ForEachMacros:
  - GL_LIST_FOREACH
  - GL_MAP_FOREACH
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 8
PPIndentWidth: 2
SpaceAfterCStyleCast: true
SpaceBeforeParens: Always
UseTab: ForIndentation
