.\" In .TH, FOO should be all caps, SECTION should be 1-8, maybe w/ subsection
.\" other parms are allowed: see man(7), man(1)
.\"
.\" This template provided by Tom Christiansen <tchrist@jhereg.perl.com>.
.\" 
.TH FOO SECTION 
.SH NAME
foo, bar \- programs to do something
.SH SYNOPSIS
A short usage summary.
.SH DESCRIPTION
.\" Putting a newline after each sentence can generate better output.
Long drawn-out discussion of the program.
It's a good idea to break this up into subsections using the .SS macros,
like these:
.SS "A Sample Subsection"
.SS "Yet Another Sample Subsection"
.SH OPTIONS
Some people make this separate from the description.
.SH "RETURN VALUE"
What the program or function returns if successful.
.SH ERRORS
Return codes, either exit status or errno settings.
.SH EXAMPLES
Give some example uses of the program.
.SH ENVIRONMENT
Environment variables this program might care about.
.SH FILES
All files used by the program.
Typical usage is like this:
.br
.nf
.\" set tabstop to longest possible filename, plus a wee bit
.ta \w'/usr/lib/perl/getopts.pl   'u
\fI/usr/man\fR  default man tree
\fI/usr/man/man*/*.*\fR unformatted (nroff source) man pages
.SH "SEE ALSO"
.\" Always quote multiple words for .SH
Other man pages to check out, like
.IR man (1),
.IR man (7),
.IR mandb (8),
.IR catman (8).
.SH NOTES
Miscellaneous commentary.
.SH CAVEATS
Things to take special care with, sometimes called WARNINGS.
.SH DIAGNOSTICS
All the possible error messages the program can print out,
what they mean, and how to correct them if applicable.
.SH BUGS
Things that are broken or just don't work quite right.
.SH RESTRICTIONS
Bugs you don't plan to fix. :-)
.SH AUTHOR
Who wrote it (or AUTHORS if multiple).
.SH HISTORY
Programs derived from other sources sometimes have this.
